/* Estilos Globais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #222;
    color: white;
}

/* Cabeçalho */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #000;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

/* Logo */
.logo-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    max-height: 120px; /* Aumentei a altura da logo */
    opacity: 0.8; /* Ajustei a opacidade para 80% */
    transition: opacity 0.3s ease;
}

.logo:hover {
    opacity: 1; /* Aumenta a opacidade ao passar o mouse */
}

/* Menu */
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-items {
    display: flex;
}

.menu-items a {
    color: white;
    text-decoration: none;
    padding: 10px;
    margin-left: 15px;
    font-size: 18px;
    transition: color 0.3s;
}

.menu-items a:hover {
    color: #ff7b00;
}

/* Tela Inicial */
.welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background-color: #333;
    padding: 20px;
}

.welcome-text h1 {
    font-size: 3rem;
    color: white;
}

.welcome-text p {
    font-size: 1.5rem;
    color: #ff7b00;
}

/* Estilo do Carrinho */
#cart-count {
    font-weight: bold;
    color: #ff7b00;
}
